/*---------- GOOGLE FONTS IMPORT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Luckiest+Guy&display=swap');

:root {
    /*---------- TYPOGRAPHY ----------*/
    --header-text: 'Luckiest Guy', cursive;
    --content-text: 'Fredoka', sans-serif;

    /*---------- COLOURS ----------*/


}

/* Remove default margins, padding and borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}