/*---------- GOOGLE FONTS IMPORT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Luckiest+Guy&display=swap');

:root {
    /*---------- TYPOGRAPHY ----------*/
    --header-text: 'Luckiest Guy', cursive;
    --content-text: 'Fredoka', sans-serif;

    /*---------- COLOURS ----------*/
    --blue: #3466AF;
    --yellow: #FFCB05;
    --black: #333;
    --darkgray: #565656;
    --gray: #aaa;
    --aliceblue: #f0f8ff;
    --darkblue: #1E3B66;
    --darkred: #64201c;
    --firebrick: #b22222;

    /*---------- HEADER HEIGHT ----------*/
    --header-height: 10%;
}

/* Remove default margins, padding and borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: var(--content-text);
}

/* Border radius */
.rounded {
    border-radius: 1.5rem;
}

/* Golden text shadow */
.shadow {
    text-shadow: #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px;
}

/*---------- HOME PAGE ----------*/
/* Header */
header {
    height: var(--header-height);
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.login-header img {
    width: 180px;
    height: auto;
    margin: 0 20px;
}

.login-header h1 {
    font-family: var(--header-text);
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 3px;
    color: var(--blue);
    margin: 0 20px;
    padding-top: 10px;
    text-shadow: #FFCB05 3px -2px 3px, #FFCB05 3px -2px 3px, #FFCB05 3px -2px 3px, #FFCB05 3px -2px 3px;
}

/* Memory board - index.html and game.html */
.memory-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - var(--header-height) - 20px);
    background-image: url(/assets/images/bg.webp);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 20px 0 26px;
}

/* Outer container */
.outer-container {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto 20px;
    padding: 1rem;
    max-width: 800px;
}

/* Player's name and play button */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    font-family: var(--content-text);
    font-size: 1em;
    color: var(--black);
    border: 2px solid var(--black);
    margin: 20px;
    padding: 15px;
    width: 100%;
    max-width: 400px;
}

.login-input:hover {
    border: 2px solid var(--yellow);
}

.login-button {
    font-family: var(--content-text);
    font-size: 24pt;
    text-transform: uppercase;
    color: var(--blue);
    border: 4px solid var(--yellow);
    cursor: pointer;
    padding: 10px 50px 50px;
    width: 100%;
    max-width: 400px;
    height: 150px;
    background-image: url(/assets/images/play-button.webp);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-button:disabled {
    filter: grayscale(1);
    border: 4px solid var(--darkgray);
    color: var(--gray);
    cursor: auto;
}

.login-button:disabled:hover {
    transform: none;
}

.login-button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Level of difficulty modal */
/* Created using the tutorial - https://www.youtube.com/watch?v=XH5OW46yO8I */
.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-style {
    background-color: var(--aliceblue);
    background-image: linear-gradient(to bottom, #FFCB05, rgba(255, 203, 5, 0.8), rgba(255, 203, 5, 0.6), rgba(255, 203, 5, 0.4), rgba(255, 203, 5, 0.2));
    border: 4px solid var(--darkred);
    text-align: center;
    padding: 20px 20px 50px;
    color: var(--darkblue);
}

.modal {
    width: 90%;
    max-width: 400px;
}

.modal-header {
    position: relative;
    float: right;
}

.btn-close {
    background-color: var(--yellow);
    font-size: inherit;
}

.btn-close:hover {
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-body {
    margin: 50px 10px 0;
}

.modal-body h2 {
    margin-bottom: 20px;
}

.modal-body img {
    width: 25px;
    height: 25px;
}

.btn-level {
    font-family: var(--content-text);
    font-size: 20pt;
    text-transform: uppercase;
    color: var(--blue);
    border: 2px solid var(--darkblue);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    background-color: var(--aliceblue);
}

.btn-level:hover {
    background-color: var(--darkblue);
    color: var(--aliceblue);
    text-shadow: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* How to play */
#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--aliceblue);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 260px);
}

#how-to-play {
    font-family: var(--content-text);
    font-size: 14pt;
    text-align: center;
    color: var(--darkblue);
}

#how-to-play h2,
#highlight {
    text-transform: uppercase;
}

/*---------- GAME PAGE ----------*/
/* Game container */
.game-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--darkblue);
    width: 100%;
    max-width: 700px;
    padding: 1rem;
    margin-bottom: 20px;
}

.player-info,
.movements-info,
.timer-info {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin-left: 10px;
    font-size: 24px;
}

/* Additional styles for .player-info */
.player-info {
    flex: 2;
}

/* Additional styles for .movements-info and .timer-info */
.movements-info,
.timer-info {
    flex: 1;
}

/* Movements and Hourglass - Fontawesome icon */
.movements-info i,
.timer-info i {
    color: var(--firebrick);
}

/* Memory grid */
.memory-game {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    gap: 10px;
}

/* Memory card */
.memory-card {
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    border: 2px solid var(--darkblue);
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 400ms ease;
    background-position: center;
    background-size: cover;
}

.front {
    background-color: white;
    transform: rotateY(180deg);
}

.back {
    background-image: url(/assets/images/back.webp);
    backface-visibility: hidden;
}

/* Additional style for revealed cards */
.revealed {
    transform: rotateY(180deg);
    pointer-events: none;
}

/* Disabled card */
.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
    pointer-events: none;
}

/* Quit button */
#quit-button {
    font-family: var(--content-text);
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--darkblue);
    padding: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#quit-button:hover {
    background-color: var(--darkblue);
    color: white;
    cursor: pointer;
}

/* Results modal */
.container-results {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}

.modal-content {
    width: 60%;
    margin: 20% auto;
}

.modal-body p {
    font-size: 14pt;
    color: var(--firebrick);
    padding-bottom: 20px;
}

/* Media queries */

/* Medium devices (landscape tablets, 850px wide and down) */
@media screen and (max-width: 850px) {
    .outer-container {
        width: 90%;
    }
}

/* Medium devices (tablets, 768px wide and down) */
@media screen and (max-width: 768px) {

    .game-container,
    .memory-game {
        width: 90%;
        padding: 0.7rem;
    }

    .memory-game {
        gap: 5px;
    }

    #quit-button {
        padding: 0.7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px wide and down) */
@media screen and (max-width: 600px) {
    .login-header img {
        width: 160px;
    }

    .login-header h1 {
        font-size: 2em;
    }

    #how-to-play {
        font-size: 12pt;
    }

    .player-info,
    .movements-info,
    .timer-info {
        font-size: 14pt;
    }

    .game-container,
    .memory-game,
    #quit-button {
        padding: 0.5rem;
    }

    .memory-game {
        gap: 2px;
    }
}

/* Extra small devices (phones, 520px wide and down) */
@media screen and (max-width: 520px) {
    .login-header img {
        width: 140px;
        margin: 0;
    }

    .login-header h1 {
        font-size: 1.5em;
        margin: 0 10px;
    }

    .login-button {
        font-size: 20pt;
    }

    .player-info,
    .movements-info,
    .timer-info {
        font-size: 12pt;
    }
}

/* Extra small devices (phones, 400px wide and down) */
@media screen and (max-width: 400px) {
    .login-header img {
        width: 130px;
    }

    .login-header h1 {
        font-size: 1.1em;
        padding-top: 0;
    }

    .login-button {
        font-size: 19pt;
    }

    .modal-body h2 {
        font-size: 16pt;
    }

    .btn-level {
        font-size: 18pt;
    }

    .modal-body img {
        width: 20px;
        height: 20px;
    }
}

/* Extra small devices (phones, 350px wide and down) */
@media screen and (max-width: 350px) {
    .login-header img {
        width: 120px;
    }

    .login-header h1 {
        font-size: 1em;
    }

    .login-button {
        font-size: 18pt;
    }

    #how-to-play {
        font-size: 10pt;
    }

    .modal-body h2 {
        font-size: 14pt;
    }

    .btn-level {
        font-size: 16pt;
    }

    .player-info,
    .movements-info,
    .timer-info {
        font-size: 10pt;
    }
}