/*---------- GOOGLE FONTS IMPORT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Luckiest+Guy&display=swap');

:root {
    /*---------- TYPOGRAPHY ----------*/
    --header-text: 'Luckiest Guy', cursive;
    --content-text: 'Fredoka', sans-serif;

    /*---------- COLOURS ----------*/
    --blue: #3466AF;
    --yellow: #FFCB05;
    --black: #333;
    --darkgray: #565656;
    --gray: #aaa;
    --aliceblue: #f0f8ff;
    --darkblue: #1E3B66;
}

/* Remove default margins, padding and borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/*---------- HOME PAGE ----------*/
/* Header */
.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-header img {
    width: 250px;
    margin: 20px;
}

.login-header h1 {
    font-family: var(--header-text);
    font-size: 3em;
    letter-spacing: 3px;
    color: var(--blue);
    margin: 20px;
    padding-top: 20px;
    text-shadow: #FFCB05 3px -2px 3px, #FFCB05 3px -2px 3px, #FFCB05 3px -2px 3px, #FFCB05 3px -2px 3px;
}

/* Outer container */
#outer-container {
    background-color: var(--blue);
    width: 80%;
    margin: auto;
    padding: 1rem;
    border-radius: 1.5rem;
}

/* Player's name and play button */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    font-family: var(--content-text);
    font-size: 1em;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 1.5rem;
    margin: 20px;
    padding: 15px;
    width: 100%;
    max-width: 400px;
}

.login-button {
    font-family: var(--content-text);
    font-size: 24pt;
    text-transform: uppercase;
    color: var(--blue);
    text-shadow: #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px;
    border: 4px solid var(--yellow);
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 10px 50px 50px;
    width: 100%;
    max-width: 400px;
    height: 150px;
    background-image: url(/assets/images/play-button.webp);
    background-size: cover;
    background-position: center;
}

.login-button:disabled {
    filter: grayscale(1);
    border: 4px solid var(--darkgray);
    color: var(--gray);
    cursor: auto;
}

/*How to play*/
#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--aliceblue);
    border-radius: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}

#how-to-play {
    font-family: var(--content-text);
    font-size: 14pt;
    text-align: center;
    color: var(--darkblue);
}

#how-to-play h2 {
    text-transform: uppercase;
    text-shadow: #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px, #FFCB05 2px -1px 2px;
}